body {
  margin: 0;
}

html {
  height: 100%;
}

#mapId {
    position:relative;
    height: 100%;
    width: 100%;
  }

.my-custom-control-header {
  padding:5px 10px;
  background: rgba(67, 68, 66, .75);
  position: 'relative';
  margin: 0 auto;
  right: 115%;
  width: 400px;
  clear: both;
  height: auto;
  z-index: 0;
  text-align: center; 
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 5px;
}

.my-custom-control-header:empty {
  display: hidden;
}

.my-custom-control-footer {
  padding:5px 10px;
  background: rgba(67, 68, 66, .75);
  margin: 0 auto;
  left: 115%;
  width: 400px;
  clear: both;
  height: auto;
  z-index: 0;
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 5px;
}

.my-custom-control-footer:empty {
  display: hidden;
}